*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(209, 202, 211);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #2b2b2b;
}

nav {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: #2b2b2b;
}

.logo_text_nav {
  width: 243px;
  height: 32px;
}

.logo_nav {
  transition: 0.2s;
}

.logo_nav:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.text_nav {
  transition: 0.2s;
}

.text_nav:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.btn_nav,
.sing_text {
  color: #FFF;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  transition: 0.2s;
}

.btn_nav:hover {
  transition: 0.2s;
  transform: scale(1.03);
}

.box_nava {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sing {
  display: flex;
  flex-direction: row;
  background-color: #A259FF;
  border-radius: 20px;
  border: 1px solid #A259FF;
  padding: 15px 20px;
  gap: 10px;
  transition: 0.2s;
}

.sing:hover {
  background-color: #2b2b2b;
  transform: scale(1.03);
  transition: 0.2s;
}

.art {
  color: var(--White, #fff);
  font-family: "Space Mono", monospace;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  display: flex;
  width: 510px;
  flex-direction: column;
  justify-content: center;
}

.top-creators {
  width: 100%;
  height: 271px;
  background-color: #2b2b2b;
  display: flex;
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.creators-text {
  width: 1050px;
  height: 56px;
  color: var(--White, #fff);
  font-family: "Space Mono", monospace;
  font-size: 51px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-transform: capitalize;
  margin: 0px;
}

.creators-p {
  width: 1050px;
  height: 35px;
  color: var(--White, #fff);
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 35.2px */
  margin: 0px;
}

.NFTs-collecthions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: var(--Background, #2b2b2b);
  width: 100%;
}

.NFTs-collecthions-line {
  width: 100%;
  height: 1px;
  background: #3b3b3b;
}

.NFTs-collecthions-text {
display: grid;
grid-template-columns: auto auto auto auto;
}

.tabs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: flex-start;
}

.tab-one-creators {
  display: flex;
  height: 60px;
  padding: 0px 30px;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--caption-label-text, #858584);
  justify-content: center;
  width: 260px;
}

.tab-one-creators-p {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.tab-two-creators {
  display: flex;
  height: 60px;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 260px;
}

.tab-two-creators-p {
  color: var(--caption-label-text, #858584);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

section {
  grid-template-columns: auto;
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background: var(--Background, #2B2B2B);
}

.top_creator_line {
  align-items: center;
  display: flex;
  width: 1050px;
  padding: 12px;
  flex-direction: row;
  gap: 20px;
  border-radius: 20px;
  background: var(--Background---Secondary, #3B3B3B);
  transition: 0.2s;
}

.Circle {
  display: flex;
  width: 30px;
  height: 30px;
  gap: 10px;
  border-radius: 100%;
  background: var(--Background, #2B2B2B);
  justify-content: center;
  align-items: center;
}

.number {
  color: var(--caption-label-text, #858584);
  font-family: "Space Mono", monospace;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.jaydon {
  width: 30px;
  height: 30px;
}

.Bothman {
  color: #FFF;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}

.green {
  margin-left: 200px;
  color: var(--Green, #00AC4F);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.white {
  margin-left: 100px;
  color: var(--Text, #FFF);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.eth {
  margin-left: 100px;
  color: var(--Text, #FFF);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.top_creator_line:hover {
  background-color: #A259FF;
  transition: 0.2s;
}

footer {
  margin-top: 100px;
  display: flex;
  padding: 40px 195px;
  flex-direction: column;
  gap: 30px;
  align-self: stretch;
  background: var(--Background---Secondary, #3B3B3B);
}

.box_row_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.box_column_1 {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 327.414px;
  padding-right: 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.box_column_2 {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 327.414px;
  padding-right: 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.box_column_3 {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 400px;
  padding-right: 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.for {
  color: #CCC;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.our {
  color: #CCC;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.Explore_footer {
  color: #FFF;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0px;
}

.marketplace_footer {
  color: #CCC;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.rankings_footer {
  color: #CCC;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.connect_footer {
  color: #CCC;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.join_footer {
  color: #FFF;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: capitalize;
  margin: 0px;
}

.inbox_footer {
  font-family: "Space Mono", monospace;
  color: #CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}


.inp-input {
  display: flex;
  height: 40px;
  padding: 16px 0px 16px 20px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: var(--Text, #FFF);
  width: 500px;
  flex-direction: row;
}

.email {
  width: 350px;
  display: flex;
  height: 40px;
  border-radius: 20px;
  padding: 0px 20px;
  outline: none;
}

button {
  margin-top: 10px;
  width: 350px;
  display: flex;
  height: 40px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: var(--Call-to-Action, #A259FF);
  color: #FFF;
  cursor: pointer;
}

.by_MuIZI {
  font-family: "Space Mono", monospace;
  color: #CCC;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.nav_svg {
  display: none;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1560px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1320px) {

  footer {
    padding: 40px 140px;
  }
}

@media screen and (max-width: 1200px) {

  .box_column_2,
  .box_column_3 {
    padding-right: 0px;
  }
}

@media screen and (max-width: 1080px) {
  .nav_svg {
    display: block;
  }

  .btn_nav,
  .btn_nav2,
  .btn_nav3,
  .sing {
    display: none;
  }

  footer {
    padding: 40px 100px;
  }
}

@media screen and (max-width: 960px) {

  .tab-one-creators,
  .tab-two-creators {
    padding: 0px;
    width: 240px;
  }


  .top_creator_line {
    width: 900px;
  }

  footer {
    padding: 40px;
  }

  .green {
    margin-left: 100px;
  }

  .eth,
  .white {
    margin-left: 70px;
  }

  .creators-text,
  .creators-p {
    width: 900px;
  }
}

@media screen and (max-width:840px) {
  .tab-one-creators,
  .tab-two-creators {
    width: 210px;
  }
  .top_creator_line {
    width: 800px;
  }

  .green {
    margin-left: 50px;
  }

  .eth,
  .white {
    margin-left: 50px;
  }

  .creators-text,
  .creators-p {
    width: 760px;
  }
  .box_column_1{
    padding-right: 20px;
  }
}

@media screen and (max-width: 720px) {
  .tab-one-creators,
  .tab-two-creators {
    width: 180px;
  }

  .box_row_footer {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 50px;
  }

  .box_column2,
  .box_column_3 {
    margin-top: 20px;
  }

  .top_creator_line {
    width: 700px;
  }

  .green {
    margin-left: 70px;
  }

  .eth {
    margin-left: 50px;
  }

  .white {
    display: none;
  }

  .creators-text,
  .creators-p {
    width: 660px;
  }

  .creators-p {
    height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .tab-one-creators,
  .tab-two-creators {
    width: 300px;
  }
.tabs{
  display: grid;
  grid-template-columns: auto auto;
}
  .top_creator_line {
    width: 570px;
  }

  .green {
    margin-left: 0px;
  }

  .eth {
    margin-left: 0px;
  }

  .creators-text,
  .creators-p {
    width: 540px;
  }

  .creators-p {
    height: 70px;
  }
}

@media screen and (max-width: 480px) {
  .tab-one-creators,
  .tab-two-creators {
    width: 240px;
  }
  .box_nava {
    gap: 30px;
  }

  .top_creator_line {
    width: 470px;
    gap: 10px;
  }

  .green {
    margin-left: 20px;
  }

  .eth {
    display: none;
  }

  .creators-text,
  .creators-p {
    width: 420px;
  }

  .creators-p {
    height: 70px;
  }
}