*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(209, 202, 211);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2B2B2B;
}

nav {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo_nav {
    transition: 0.2s;
}

.logo_nav:hover {
    transform: scale(1.03);
    transition: 0.2s;
}

.btn_nav,
.sing_text {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: 0.2s;
}

.btn_nav:hover {
    transition: 0.2s;
    transform: scale(1.03);
}

.box_nava {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sing {
    display: flex;
    flex-direction: row;
    background-color: #A259FF;
    border-radius: 20px;
    border: 1px solid #A259FF;
    padding: 15px 20px;
    gap: 10px;
    transition: 0.2s;
}

.sing:hover {
    background-color: #2b2b2b;
    transform: scale(1.03);
    transition: 0.2s;
}

.art {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 67px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
    display: flex;
    width: 510px;
    flex-direction: column;
    justify-content: center;
}

.nav_svg {
    display: none;
}

.box_body1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 80px 100px;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background: var(--Background, #2B2B2B);
}

.box_body1_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 510px;
    height: 544px;
}

.for {
    font-family: "Space Mono", monospace;
    color: var(--White, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.started {
    display: flex;
    flex-direction: row;
    background-color: #A259FF;
    border-radius: 20px;
    border: 1px solid #A259FF;
    padding: 15px 30px;
    gap: 10px;
    transition: 0.2s;
}

.started:hover {
    transform: scale(1.03);
    transition: 0.2s;
    background-color: #2b2b2b;
}

.box_plus {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.plusik {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.tatal {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.box_tatal {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box_body1_2 {
    display: flex;
    flex-direction: column;
}

.box_body_1_3 {
    background-color: #3b3b3b;
    width: 510px;
    height: 510px;
    border-radius: 20px;

}

.space {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 20px;
}

.box_name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.name {
    font-family: "Space Mono", monospace;
    color: var(--White, #FFF);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.img_name {
    width: 24px;
    height: 24px;
    margin-left: 20px;

}

.box_body2 {
    display: flex;
    padding: 80px 160px 0px 160px;
    flex-direction: column;
    align-self: stretch;
    background-color: #2B2B2B;
    gap: 20px;
}

.new {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-style: normal;
    text-transform: capitalize;
}

.our {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 28px;
    font-style: normal;
    text-transform: capitalize;
}

.box_body_grid1 {
    display: grid;
    justify-content: center;
    padding: 80px 0px 0px 0px;
    gap: 50px;
    flex-direction: column;
    align-self: stretch;
    background-color: #2B2B2B;
    grid-template-columns: auto auto auto;
}

.boxs_grid {
    display: flex;
    width: 330px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Background, #2B2B2B);
    height: 525px;
}

.box_row {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.box1025 {
    display: flex;
    height: 100px;
    padding: 32px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    transition: 0.2s;
    border: 0.5px solid #A259FF;
}

.box1025:hover {
    transform: scale(1.03);
    transition: 0.2s;
    background-color: #2b2b2b;
}

.animals {
    color: #FFF;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.mrfox {
    color: #FFF;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.box_animals {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box_body3 {
    padding: 80px 160px;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    background-color: #2B2B2B;
}

.box_body_3_2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}

.topchik {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.btn_view {
    width: 250px;
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 0px 50px;
    margin-top: 10px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
    border: 0.5px solid var(--Call-to-Action, #A259FF);
    transition: 0.2s;
}

.btn_view:hover {
    transform: scale(1.03);
    transition: 0.2s;
    background-color: #2b2b2b;
}

.view {
    width: 120px;
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.box_body_grid2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 80px 160px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.box_creator {
    width: 255px;
    height: 255px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    background: #3B3B3B;
    transition: 0.4s;
}

.box_creator:hover {
    background-color: #A259FF;
    transition: 0.4s;
}

.avatar_img {
    width: 120px;
    height: 120px;
    margin-left: 45px;
}

.one {
    border-radius: 50%;
    background-color: #2B2B2B;
    position: absolute;
    padding: 4px 10px;
    color: #FFF;
    font-family: "Space Mono", monospace;
}

.name_creator1 {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}


.box_row_creator {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.sales {
    color: var(--caption-label-text, #858584);
    text-align: right;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.ETH {
    color: var(--Text, #FFF);

    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.box_body4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 160px;
    gap: 30px;
    background: var(--Background, #2B2B2B);
}

.categories {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.box_body_grid3 {
    padding: 80px 160px;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
    background-color: #2B2B2B;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
}

.cotegorii {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    background: #3B3B3B;
    width: 240px;
    height: 316px;
    transition: 0.2s;
}

.cotegorii:hover {
    background-color: #A259FF;
    transform: scale(1.03);
    transition: 0.2s;
}

.name_cotegor {
    margin-left: 30px;
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.box_body5 {
    display: flex;
    flex-direction: column;
}

.more {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.trending {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.discover_box {
    gap: 15px;
    width: 330px;
    height: 470px;
    display: flex;
    height: 469px;
    flex-direction: column;
    border-radius: 20px;
    background: #3B3B3B;
}

.box_body_row1 {
    padding: 80px 160px;
    gap: 40px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: stretch;
    background-color: #2B2B2B;
}

.galaxy {
    margin-left: 20px;
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.row_box {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 10px;
}

.moon {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.price {
    color: #858584;
    font-family: "Space Mono", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.row_boxx {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.Highest_Bid {
    color: #858584;
    font-family: "Space Mono", monospace;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-left: 180px;
}

.roww_boxx {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.ethh {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.weth {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-left: 140px;
}

.btn_see {
    width: 200px;
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 0px 50px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
    border: 0.5px solid var(--Call-to-Action, #A259FF);
    transition: 0.2s;
}

.btn_see:hover {
    background-color: #2b2b2b;
    transform: scale(1.03);
    transition: 0.2s;
}

.seeall {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.box_body_row {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 80px 160px;
    gap: 20px;
    background: var(--Background, #2B2B2B);
}

.how {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.box_body_row2 {
    padding: 40px 160px 40px 160px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #2B2B2B;
}

.out {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.box_find {
    gap: 40px;
    padding: 80px 160px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    align-self: stretch;
    background-color: #2B2B2B;
}

.one_box_find {
    width: 330px;
    height: 440px;
    display: flex;
    width: 330px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: var(--Background---Secondary, #3B3B3B);
}

.wallet {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.corner {
    color: var(--White, #FFF);
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.box_body6 {
    gap: 100px;
    padding: 80px 230px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: #2B2B2B;
}

.box_join {
    flex-direction: row;
    display: flex;
    width: 1050px;
    padding: 60px;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    background: #3B3B3B;
}

.box {
    display: flex;
    width: 425px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.digest {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.inbox {
    color: var(--White, #FFF);
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.inp-input {
    display: flex;
    height: 40px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Text, #FFF);
    width: 500px;
    flex-direction: row;
}

.email {
    width: 350px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    outline: none;
}

button {
    margin-top: 10px;
    width: 350px;
    display: flex;
    height: 40px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    color: #FFF;
    cursor: pointer;
}


footer {
    display: flex;
    padding: 40px 195px;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    background: var(--Background---Secondary, #3B3B3B);
}

.box_row_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.box_column_1 {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 327.414px;
    padding-right: 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.box_column_2 {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 327.414px;
    padding-right: 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.box_column_3 {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 400px;
    padding-right: 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.for {
    color: #CCC;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.our {
    color: #CCC;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.Explore_footer {
    color: #FFF;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.marketplace_footer {
    color: #CCC;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.rankings_footer {
    color: #CCC;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.connect_footer {
    color: #CCC;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.join_footer {
    color: #FFF;
    font-family: "Space Mono", monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}

.inbox_footer {
    font-family: "Space Mono", monospace;
    color: #CCC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}


.inp-input {
    display: flex;
    height: 40px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Text, #FFF);
    width: 500px;
    flex-direction: row;
}

.email {
    width: 350px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    outline: none;
}

button {
    margin-top: 10px;
    width: 350px;
    display: flex;
    height: 40px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--Call-to-Action, #A259FF);
    color: #FFF;
    cursor: pointer;
}

.by_MuIZI {
    font-family: "Space Mono", monospace;
    color: #CCC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.popuy {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #00000075;
    top: 0;
    right: 0;
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.popuy:target {
    opacity: 1;
    visibility: visible;
}

.popuy:target .popuy_content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popuy_body {
    min-height: 100%;
    display: flex;
    height: 100%;
}

.popuy_content {
    transition: all 0.3s;
    padding: 30px 10px;
    color: #FFF;
    position: relative;
    width: 300px;
    height: 100%;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popuy_close {
    position: absolute;
    right: 60px;
    top: 28px;
    width: 10px;
    height: 10px;
    color: #FFF;
}

.popuy_marketplace {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    transition: 0.2s;
    margin-top: 20px;
}

.sing_popuy {
    margin-top: 20px;
    display: flex;
    background-color: #A259FF;
    border-radius: 20px;
    border: 1px solid #A259FF;
    padding: 15px 20px;
    gap: 10px;
    transition: 0.2s;
    width: 140px;
    height: 54px;
    margin-left: 70px;
}

.sing_popuy:hover {
    background-color: #00000075;
    transform: scale(1.03);
    transition: 0.2s;
}

@media screen and (max-width:1920px) {
    .box_body2 {
        display: flex;
        justify-content: space-between;
    }

    .box_body3 {
        display: flex;
        justify-content: space-between;
    }

    .box_body6 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:1800px) {}

@media screen and (max-width:1680px) {}

@media screen and (max-width:1560px) {}

@media screen and (max-width:1440px) {}

@media screen and (max-width:1320px) {
    footer {
        padding: 40px 140px;
    }
}

@media screen and (max-width:1200px) {

    .box_column_2,
    .box_column_3 {
        padding-right: 0px;
    }
}

@media screen and (max-width:1080px) {
    .nav_svg {
        display: block;
    }

    .btn_nav,
    .btn_nav2,
    .btn_nav3,
    .sing {
        display: none;
    }

    footer {
        padding: 40px 100px;
    }

    .box_find,
    .box_body_row1,
    .box_body_grid3,
    .box_body_grid1 {
        gap: 20px;
    }

    .box_body_grid2 {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:960px) {

    footer {
        padding: 40px;
    }

    .box_join,
    .box_body1 {
        display: flex;
        flex-direction: column;
    }

    .box_find,
    .box_body_row1,
    .box_body_grid1 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .box_body_grid3 {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:840px) {
    .box_column_1 {
        padding-right: 20px;
    }

    .box_body_grid2 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .box_body_row,
    .box_body3 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:720px) {

    .box_row_footer {
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: 50px;
    }

    .box_column2,
    .box_column_3 {
        margin-top: 20px;
    }

    .box_body_grid3 {
        display: grid;
        grid-template-columns: auto auto;
    }

}

@media screen and (max-width:600px) {

    .box_find,
    .box_body_row1,
    .box_body_grid1 {
        display: grid;
        grid-template-columns: auto;
    }

    .box_body_row,
    .box_body4,
    .box_body3,
    .box_body2 {
        padding: 80px;
    }
}